/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yesBtn {
    background-color: #4CAF50; /* Green */
    color: white;
}
.Secret {
    color: #ffffff; /* Assuming your background is white */
    /* Or use the same color as the background for invisibility */
    /* color: #f0f0f0; If your background is not white */
}
.visible {
    color: #333; /* Or any color that makes it visible against your background */
    display: block; /* Or inline, depending on your layout */
}
#noBtn {
    background-color: #f44336; /* Red */
    color: white;
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#message {
    margin-top: 20px;
    font-size: 22px;
    color: #4CAF50;
    animation: fadeIn 2s;
}

/* Keyframes for fadeIn effect */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
